<!DOCTYPE html>
<html lang="en">
<head>
<title>Matrix Admin</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/bootstrap.min.css' %}">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/bootstrap-responsive.min.css' %}">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/bootstrap-wysihtml5.css' %}">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/colorpicker.css' %}">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/datepicker.css' %}">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/font-awesome.css' %}">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/fullcalender.css' %}">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/jquery.easy-pie-chart.css' %}">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/jquery.gritter.css" />
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/matrix-login.css' %}">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/matrix-media.css' %}">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/matrix-style.css' %}">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/select2.css' %}">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MyStock/uniform.css' %}">
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/colorpicker.css" />
<link rel="stylesheet" href="css/datepicker.css" />
<link rel="stylesheet" href="css/uniform.css" />
<link rel="stylesheet" href="css/select2.css" />
<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<link rel="stylesheet" href="css/bootstrap-wysihtml5.css" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/colorpicker.css" />
<link rel="stylesheet" href="css/datepicker.css" />
<link rel="stylesheet" href="css/uniform.css" />
<link rel="stylesheet" href="css/select2.css" />
<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<link rel="stylesheet" href="css/bootstrap-wysihtml5.css" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">Matrix Admin</a></h1>
</div>
<!--close-Header-part--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome User</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
        <li class="divider"></li>
        <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
      </ul>
    </li>
    <li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important"></span> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> new message</a></li>
        <li class="divider"></li>
        <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> inbox</a></li>
        <li class="divider"></li>
        <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> outbox</a></li>
        <li class="divider"></li>
        <li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> trash</a></li>
      </ul>
    </li>
    <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
    <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>

<!--start-top-serch-->
<div id="search">
  <input type="text" placeholder="Search here..."/>
  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-serch--> 

<!--sidebar-menu-->

<div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-list"></i>Forms</a>
  <ul>
   
    <li class="submenu active"> <a href="#"><i class="icon icon-list"></i> <span>Forms</span> <span class="label label-important"></span></a>
     
  </ul>
</div>

<!--close-left-menu-stats-sidebar-->

<div id="content">
<div id="content-header">
  <div id="breadcrumb"> <a href="{% url 'index' %}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Invoice </a> </div>
  <h1>invoice</h1>
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
    <div class="span6">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Invoice</h5>
        </div>
        <div class="widget-content nopadding">
          <form action="{% url 'getinvoice' %}" method="get" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">Invoice-ID:</label>
              <div class="controls">
                <input type="text" class="span11" name="iid" placeholder="Invoice-ID" required/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Product ID :</label>
              <div class="controls">
                <input type="text" class="span11" name="pid" placeholder="Product ID" required/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Product Name :</label>
              <div class="controls">
                <input type="text" class="span11" name="pname" placeholder="Product name" required/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Model No</label>
              <div class="controls">
                <input type="text"  class="span11" name="mno" placeholder="Model No"  required/>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Description:</label>
              <div class="controls">
                <input type="text" class="span11" name="textdes" />
                <span class="help-block">Description</span> </div>
            </div>
             <div class="control-group">
              <label class="control-label">Colour :</label>
              <div class="controls">
                <input type="text" class="span11" name="colour" placeholder="Colour" />
              </div>
            </div>
           <div class="control-group">
              <label class="control-label">Size :</label>
              <div class="controls">
                <input type="number" class="span11" name="size" placeholder="Size" />
              </div>
            </div>

             <div class="control-group">
              <label class="control-label">Price:</label>
              <div class="controls">
                <input type="text" class="span11" name="price" placeholder="Price" required/>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Quantity:</label>
              <div class="controls">
                <input type="number" class="span11" name="quantity" placeholder="quantity" required/>
              </div>
            </div>
            
             <div class="control-group">
              <label class="control-label">Customer Name:</label>
              <div class="controls">
                <input type="text" class="span11" name="cname" placeholder="Customer name" required/>
              </div>
            </div>
             <div class="control-group">

              <label class="control-label">Email:</label>
              <div class="controls">
              	 <script type="text/javascript">
function checkemail()
{
  var email=document.getElementById("email").value;
var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
if (expr.test(email))
{
}
else
{
      alert('Please enter a valid email address.');

}
}
              </script>
              <input type="Email" onchange="checkemail()" id="email" class="span11" name="email" placeholder="Enter Email" required/>
              </div>
            </div>
             <div class="control-group">
              <label class="control-label">Mobile No:</label>
              <div class="controls">
               <script type="text/javascript">
                  function mobile()
                  {
                    var number = document.getElementById("number").value
                    var mob = /^[1-9]{1}[0-9]{9}$/;
                    if (mob.test(number))
                    {
                     
                    }
                    else 
                    {
                    alert("Enter Valid Mobile Number")
                    }
                    
                  
                  }
                </script>

                <input type="number" onchange="mobile()" id="number" class="span11" name="mono" placeholder="Enter your Mobile No" required/>
              </div>
            </div>
             <div class="control-group">
              <label class="control-label">Address:</label>
              <div class="controls">
                <input type="text" class="span11" name="add" placeholder="Address" required/>
              </div>
            </div>
             
            <div class="form-actions">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
        </div>
      </div>
     
<div class="row-fluid">
  <div id="footer" class="span12"> design by:-Sonu Kumar Singh </div>
</div>
<!--end-Footer-part--> 
{% load static %}
<script src="{% static 'MyStock/js/excanvas.min.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/jquery.min.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/jquery.ui.custom.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/bootstrap.min.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/jquery.flot.min.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/jquery.flot.resize.min.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/jquery.peity.min.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/fullcalendar.min.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/matrix.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/matrix.dashboard.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/jquery.gritter.min.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/matrix.interface.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/matrix.chat.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/jquery.validate.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/matrix.form_validation.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/jquery.wizard.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/jquery.uniform.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/select2.min.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/matrix.popover.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/jquery.dataTables.min.js' %}"></script>
{% load static %}
<script src="{% static 'MyStock/js/matrix.tables.js' %}"></script>
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/bootstrap-colorpicker.js"></script> 
<script src="js/bootstrap-datepicker.js"></script> 
<script src="js/jquery.toggle.buttons.js"></script> 
<script src="js/masked.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.form_common.js"></script> 
<script src="js/wysihtml5-0.3.0.js"></script> 
<script src="js/jquery.peity.min.js"></script> 
<script src="js/bootstrap-wysihtml5.js"></script> 
<script>
	$('.textarea_editor').wysihtml5();
</script>
</body>
</html>
